// This contains the LESS markup for about.html page
.about-container {
    .position(flex, column, center);
    align-self: center;
    padding-top: 14em;
    padding-bottom: 3em;
    background-image: url("../img/background.jpeg");
    @media @tablet {
        background-image: url("../img/background.jpeg");
        padding-bottom: 0;
    }
    @media @mobile {
        background-image: url("../img/backgroundmobile.jpeg");
    }
    .team-intro {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 25px;
        @media @mobile {
            margin-bottom: 10px;
        }
    }

    .team-member {
        width: 90%;
        .position(flex, row, center);
        align-items: center;
        margin: 20px 0;
        margin-left: 5%;
        @media @tablet {
            margin-left: 0;
            .position(flex, column, center);
            margin-left: 3.5%;
        }
        @media @mobile {
            .position(flex, column, center);
            margin-left: 3.5%;
        }
        .member-left{
            max-width: 100%;
            width: 50%;
            padding-left: 2%;
            @media @tablet {
                width: 70%;
                padding-left: 0;
            }
            @media @mobile {
                width: 80%;
                padding-left: 0;
            }
        }
        .member-right {
            max-width: 100%;
            width: 45%;
            padding-left: 3%;
            @media @tablet {
                padding-top: 25px;
                width: 70%;
            }
            @media @mobile {
                width: 80%;
                padding-top: 5px;
            }
            .icons {
                margin-left: 20px;
                margin-top: 10px;
                .linkedin{
                    .linkedIn();
                    margin-right: 10px;
                    @media tablet {
                        margin-right: 0px;
                    }
                    @media @mobile {
                        margin-right: 0px;
                        width: 60%;
                    }
                }
                .github {
                    .github();
                    @media @mobile {
                        width: 60%;
                    }
                }
                @media @mobile {
                    .position(flex, column, center);
                    margin-left: 0;
                }
            }
        }
    }
}